<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
        <TITLE>Redirect Template</TITLE>




</head>
<body>

<h1>Markers</h1>
###MESSAGE###  <br />
###LINKTEXT###  <br />
###LINK_URL###  <br />


<!-- ###TEMPLATE_REDIRECT### begin -->
<style type="text/css">
/*<![CDATA[*/
<!--
.hr_vbulletin_connect_message{
                border: 1px solid #000000;
                margin: 5px;
                background-color: #bbbbbb;
                color: #000000
        }
.hr_vbulletin_connect_redirectlink{
                margin: 5px;
        }
        
.hr_vbulletin_connect_box{
                border: 1px solid green;
                border-color: #555555;
                margin-top: 50px;
                margin-left: 10%;
                background-color: white;
                width: 80%;
                padding: 2px;
                font-family: sans-serif;

                
        }

-->
/*]]>*/
</style>
<div class="hr_vbulletin_connect_box">
<div class="hr_vbulletin_connect_message">###MESSAGE###</div>
<div class="hr_vbulletin_connect_redirectlink"><a href="###LINK_URL###">###LINKTEXT###</a></div>
</div>
<script type="text/javascript">
//<!--
// This works better instead of the meta refresh in combination with realurl, because of the relative url.
window.location = '###LINK_URL###';
//-->
</script>
<!-- ###TEMPLATE_REDIRECT### end-->

</body>
</html>
